body{
    font-family: monospace;
    font-weight: 600;
    background-color: rgb(240, 240, 238);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#registroform{
    background-color: whitesmoke;
    box-shadow: 9px 9px 8px rgb(136, 136, 136, 0.6);
    padding: 25px;
    border-radius: 10px;
    margin: 15px;
    transition: .3s ease;
}

#registroform:hover{
    background-color: rgb(216, 214, 214);
    box-shadow: 9px 9px 8px rgba(230, 66, 66, 0.2);
    padding: 25px;
    border-radius: 10px;
    margin: 15px;    
    transform: translate(5px, 6px); 
    
}


label{
    display: block;
    margin-bottom: 8px;
}

label.inline{
    display: inline-block;
}

input, select{
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 600;
}

input[type='checkbox']{
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
input[type='number'],
select{
    width: 100%;
}

input[type='submit']{
    background-color:cadetblue ;
    color:white;
    padding: 15px;
    border:none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
    transition: .5s ease;
}

input[type='submit']:hover{
    background-color:rgb(75, 124, 126) ;

}

.error{
    color: red;
    font-size: 10px;
}